body{
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
}

.nav-menu{
	background-color: #026464;
	height: 80px;
	.hamburguesa{
		margin-left: 30px;
	}
	.brand-logo{
		margin-top: 20px;
    	font-size: 20px;
    	font-weight: 200;
	}
	.lupa{
		margin-right: 30px;
	}
}
.browser-default{
	color: #026464;
	font-weight: bold;
}
.text{
	font-size:10px;
	padding: 0;
}
.element_titlepeli{
	font-size: 11px;
	font-weight: bold;
	color: black;
}
#element_movie__btn__favorites{
	font-size: 8px;
}
.element_movie__icon, .element_movie__icon{
	color: #00C3C3;
	font-size:12px;
}
.star{
	color:#026464;
	font-size:12px;
	
}
