body{
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
}

.nav-menu{
	background-color: #026464;
	height: 80px;
	.hamburguesa{
		margin-left: 30px;
	}
	.brand-logo{
		margin-top: 20px;
    	font-size: 20px;
    	font-weight: 200;
	}
	.lupa{
		margin-right: 30px;
	}
}